NEXT_PUBLIC_INSFORGE_BASE_URL=
NEXT_PUBLIC_INSFORGE_ANON_KEY=
INSFORGE_PROJECT_API_KEY=

#NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=https://yolande-sistroid-jenee.ngrok-free.dev

CHANNEL_OAUTH_STATE_SECRET=
CHANNEL_TOKEN_ENCRYPTION_KEY=

TWITTER_CLIENT_ID=
TWITTER_AUTH_URL=https://x.com/i/oauth2/authorize

# *****************
# 🧾 Purchase a commercial license to get the full, complete .env file
# *****************